<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agent Helper</title>

    {% load static %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- SEO WITH META TAGS -->

		<meta name="description" content="Check the availability of Cowin/Covishield Vaccine in your area. Get notified when it will be available">

		<meta name="author" content="Mustafa Qazi">

		<meta name="robots" content="index, follow" />

		<meta name="keywords" content="cowin covidhield vaccine notification">

		<meta name="copyright" content="Mustafa Qazi">

		<meta name="DC.title" content="Vaccine availability Notification">

    <!-- END SEO WITH META TAGS -->
    
      <!-- GOOGLE ANALYTICS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NHZZ28EKBM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NHZZ28EKBM');
  </script>

<!-- END GOOGLE ANALYTICS -->

<!--  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<link rel="stylesheet" href="{% static 'index22.css' %}">
    
</head>
<body>
<nav id="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Stats</a></li>
            <li class="nav-item"><a href="/stat/add" class="nav-link">Add</a></li>
            <li class="nav-item"><a href="/stat/agent" class="nav-link">Add Agent</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
        </ul>
    </nav>
    <div class="btn"></div>



    <script>
    const btn = document.querySelector(".btn");
            const nav = document.getElementById("nav");
            const navItem = document.querySelectorAll(".nav-item");

            btn.addEventListener("click", () => {
            nav.classList.toggle("active");
            navItem.forEach((item) => {
                item.classList.toggle("active")
            })
            btn.classList.toggle("active")
            });

    

            {% if agent_add %}
            toastr.success('Success!', 'Agent Added successfully');
            {% endif %}

            {% if transaction_add %}
            toastr.success('Success!', 'Transaction Added successfully');
            {% endif %}



    </script>
</body>
</html>