<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vaccine Notification</title>

        {% load static %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- SEO WITH META TAGS -->

		<meta name="description" content="Check the availability of Cowin/Covishield Vaccine in your area. Get notified when it will be available">

		<meta name="author" content="Mustafa Qazi">

		<meta name="robots" content="index, follow" />

		<meta name="keywords" content="cowin covidhield vaccine notification">

		<meta name="copyright" content="Mustafa Qazi">

		<meta name="DC.title" content="Vaccine availability Notification">

    <!-- END SEO WITH META TAGS -->
    
      <!-- GOOGLE ANALYTICS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NHZZ28EKBM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NHZZ28EKBM');
  </script>

<!-- END GOOGLE ANALYTICS -->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/8d26d665dc.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>

</head>
<body>
  <h1>वैक्सीन उपलब्धता</h1>

  <form method="POST" action="/m/getVaccine/">
    <label>
      
      <input required id="fname" name="pincode" type="text" placeholder="पिन कोड">
      <span>आपल्या क्षेत्राचा पिन कोड</span>
    </label>
   {% csrf_token %}
    <input type="submit" value="Okay">
  </form>

  
<div id="dialog" title="Please choose language">
      <a id="enlgish" class="btn btn-primary" href="#" > मराठीत ठेवा </a> <br> <br>
      <a href="/" class="btn btn-primary" >English</a> &nbsp;&nbsp;&nbsp;
      <a href="/h" class="btn btn-primary">हिंदी </a> <br>
  </div>

  <div id="footer">
    Made with <i class="fas fa-anchor"></i> by blaze
  </div>
  
  <script>
      $( function() {
        $( "#dialog" ).dialog();
      } );

      $(document).ready(function(){
        $('#enlgish').click(function(e){
          e.preventDefault();
          console.log('print');
          $( "#dialog" ).dialog('close');
        });
      })
  </script>

</body>
</html>